@font-face { font-family: miti; src: url('mitimasu.ttf'); } 


body {
  font-family: "Lato", sans-serif;
  background: rgb(224,254,198);
  background: linear-gradient(90deg, rgba(224,254,198,1) 0%, rgba(83,145,20,1) 100%); 
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(83,145,20,1);
  overflow-x: hidden;
  padding-top: 20px;
  font-family: miti, sans-serif;
}

.sidenav a {
  padding: 6px 8px 60px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #cfcfcf;
  display: block;
}

.sidenav a:hover {
  color: #fafafa;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.row > div {
    padding: 2em;
    background-color: none;
    border: 0.1em solid none;
}
.logo {
    text-align: center;
}
.logo-img {
  max-width: 10%;
}
p {
  font-size: 24px;
  font-family: miti, sans-serif;
}
h1 {
  font-size: 92px;
  font-family: miti, sans-serif;
}
h2 {
  font-size: 64px;
  font-family: miti, sans-serif;
}